<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ㅋㅌㅌ : 코리아텍을 위한 톡 커뮤니티</title>

    <!-- Bootstrap -->
    <link href="assets/stylesheet/css/bootstrap.css" rel="stylesheet">
	  <link href="assets/stylesheet/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/stylesheet/css/style.css" rel="stylesheet">
  </head>

  <body>


  <!--navbar code는 application.html.erb 파일의 body 부분으로 이동 ->계속 반복되는 부분이므로 -->

  	<div id="header" style="padding-top:40px;">
  		<div class="container">
				<h1 style="text-align:center"><%= image_tag("123.png") %></h1>
				<!-- 
				이곳에서 가장 문제는 input 태그가 가운데 정렬이 안된다는 것. 그거 해결할 것.
				<form class="form-inline signup" role="form">
				  <div class="form-group">
				    <input type="text" class="form-control" placeholder="검색 및 키워드 입력" style="width:342px;">
				  </div>
				  <button type="submit" class="btn btn-theme">
				    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				  </button>
				</form>
				-->

				<table id="list" style="text-align:center; margin-top:40px; margin-bottom:60px; margin-left:auto; margin-right:auto; vertical-align:middle;">
          <tr>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#04B4AE; border:3px solid white;">
              <a href="board" style="color:white">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 35px;"></span>
                <div>한줄게시판</div>
                <!-- 게시판 페이지 만들 것 -->
              </a>
            </td>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#04B45F; border:3px solid white;">
              <a href="/store/store_index" style="color:white">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 35px;"></span>
                <div>주변상점</div>
                <!-- 상점정보 만들 것 + 콜밴번호 -->
              </a>
            </td>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#FFBF00; border:3px solid white;">
              <a href="#" style="color:white">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" style="font-size: 35px;"></span>
                <div>교내번호</div>
                <!-- 교내번호는 교내 비상연락망을 토대로 작성 -->
              </a>
            </td>
          </tr>
          <tr>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#FF8000; border:3px solid white;">
              <a href="#" style="color:white">
                <span class="glyphicon glyphicon-bed" aria-hidden="true" style="font-size: 35px;"></span>
                <div>셔틀버스</div>
                <!-- 셔틀버스 만들어보자 크롤링 -->
              </a>
            </td>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#FA5882; border:3px solid white;">
              <a href="room" style="color:white">
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 35px;"></span>
                <div>원룸</div>
                <!-- 동아리 명단은 한톡에 있는 동아리 명단을 토대로 하고 총동연에 문의할 것 -->
              </a>
            </td>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#0B0B3B; border:3px solid white;">
              <a href="http://hanpyo.com/" style="color:white">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size: 35px;"></span>
                <div>시간표</div>
                <!-- 시간표는 우선 한표로 링크 연결하고 추후에 개발할 수 있으면 개발한다. -->
              </a>
            </td>
          </tr>
          <tr>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#210B61; border:3px solid white;">
              <a href="notice" style="color:white">
                <span class="glyphicon glyphicon-education" aria-hidden="true" style="font-size: 35px;"></span>
                <div>공지사항</div>
                <!-- 이거 없앨까 생각중, 학부&학과 대신 식단표 넣자 -->
              </a>
            </td>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#B40404; border:3px solid white;">
              <a href="#" style="color:white">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="font-size: 35px;"></span>
                <div>족보나라</div>
                <!-- 게시판이지만 파일 업&다운로드가 가능한 게시판 -->
              </a>
            </td>
            <td style="border-collapse:collapse; height:100px; width:100px; background-color:#424242; border:3px solid white;">
              <a href="book" style="color:white">
                <span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size: 35px;"></span>
                <div>도서관</div>
                <!-- 다산과 연동하여 열람실 자리예약(이거를 하기 위해서는 학번연동 해야댐{아우누리}), 책 검색 기능 넣어보자 -->
              </a>
            </td>


          </tr>
          
          
        </table>
        <div id="footer">
          <p class="copyright" style="text-align:center; text-weight:bold">&copy; NEMOLAND</p>
      	</div>
      	<!-- 풋터 더 알아보고 고정시킬것 -->
      </div>
  	</div>
	
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
      
  </body>
</html>
