<div class="container" style="margin-left:30px; margin-top:30px;">
    <h1>글쓰기</h1>
    <form action="/board/write_post" method="POST">
      <div class="form-group">
        <label for="name">작성자</label>
        <input name="name" type="text" class="form-control" id="name1" placeholder="이름을 입력하세요">
      </div>
      <div class="form-group">
        <label for="label_title">제목</label>
        <input name="title" type="text" class="form-control" id="title1" placeholder="제목을 입력하세요">
      </div>
      <div class="form-group">
        <label for="label_content">내용 : </label>
        <textarea name="content" class="form-control" rows="5" id="content1" placeholder="내용을 입력하세요"></textarea>
      </div>
      <button type="submit" class="btn btn-default">저장</button>
      <button type="submit" formmethod="GET" formaction="/board" class="btn btn-default">돌아가기</button>
    </form>
</div>
<hr>
<div class="row" style="height:50px;">
    <div class="col-md-8"></div>
    <div class="col-md-1" style="text=align:right">ⓒ nemoland  </div>
    <div class="col-md-3"></div>
</div>

<!--
<script>
  $(".save_button").click(function(){
    if (!name.value) {
      alert("이름을 적어주세요");
      name.focus();
      return;
    }
    if (!title.value) {
      alert("제목을 적어주세요");
      title.focus();
      return;
    }
    if (!content.value) {
      alert("내용을 적어주세요");
      content.focus();
      return;
    }
    alert("내용을 적어주세요");
  }
</script>
-->