


<div class="container" style="text-align:center; margin-top:40px; margin-left:auto; margin-right:auto; vertical-align:middle;">
  <h1>한줄게시판</h1>
  <span>- 글쓰기 -</span>
  <form action="/board/write_post" method="POST" style="margin-top:30px;">
    <div class="container_2">
    	<div class="list-group" style="padding-left:15px; padding-right:15px; padding-bottom:50px;">
        <div class="form-group">
          <input name="name" type="text" class="form-control" id="name1" placeholder="작성자">
        </div>
        <div class="form-group">
          <input name="title" type="text" class="form-control" id="title1" placeholder="제목">
        </div>
        <div class="form-group">
          <textarea name="content" class="form-control" rows="15" id="content1" placeholder="내용"></textarea>
        </div>
        <div class="form-group button" style="float:right;">
          <button type="submit" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">저장</button>
          <button type="submit" formmethod="GET" formaction="/board" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">돌아가기</button>
        </div>
      </div>
    </div>
  </form>
  <div id="footer">
    <p class="copyright" style="text-align:center; text-weight:bold">&copy; NEMOLAND</p>
	</div>
</div>

  

<!--
<script>
  $(".save_button").click(function(){
    if (!name.value) {
      alert("이름을 적어주세요");
      name.focus();
      return;
    }
    if (!title.value) {
      alert("제목을 적어주세요");
      title.focus();
      return;
    }
    if (!content.value) {
      alert("내용을 적어주세요");
      content.focus();
      return;
    }
    alert("내용을 적어주세요");
  }
</script>
-->