<h1 style="text-align:center">관리자페이지</h1>
</br>
<div class = "container">
  <div style="text-align:center">
    <ul class="list-group">
      <li class="list-group-item"> <a href = "/store/store_spreadsheet">주변상점입력(엑셀)</a> </li>
      <li class="list-group-item"> <a href = "/admin/store">주변상점입력</a> </li>
      <li class="list-group-item"> <a href = "/admin/user">회원관리</a> </li>
      <li class="list-group-item"> <a href = "#">#</a> </li>
    </ul>
  </div>
</div>



<table class="table">



  ...
</table>