<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=FukKBp3GtYl3ljJulA_v"></script>
  </head>
  
  <body>
    <div class="container" style="text-align:center; margin-top:10px; margin-bottom:10px;margin-left:auto; margin-right:auto; vertical-align:middle;">
      <h1>원룸 정보</h1>
      <button onclick="location.href='/room/index'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">전체보기</button>
      <button onclick="location.href='/room/front_area'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">정문</button>
      <button onclick="location.href='/room/back_area'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">후문</button>
    </div>
    <div id="map" style="margin-left:auto; margin-right:auto; vertical-align:middle; width:90%; height:580px;"></div>
    
    <script>
      
      var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(36.767580, 127.283526),
        zoom: 11
      });
      
      var polygon_front = new naver.maps.Polygon({
        map: map,
        paths: [
          [
            new naver.maps.LatLng(36.767565, 127.283648),
            new naver.maps.LatLng(36.768940, 127.279571),
            new naver.maps.LatLng(36.770934, 127.279925),
            new naver.maps.LatLng(36.770822, 127.284785),
          
            new naver.maps.LatLng(36.770480, 127.287293),
            
            new naver.maps.LatLng(36.768888, 127.284871),
            new naver.maps.LatLng(36.767822, 127.283498)
          ]
        ],
        fillColor: '#ff0000',
        fillOpacity: 0.3,
        strokeColor: '#ff0000',
        strokeOpacity: 0.6,
        strokeWeight: 3
      });
      
      var polyline_front = new naver.maps.Polyline({
        map: map,
        path: [
          new naver.maps.LatLng(36.767565, 127.283648),
          new naver.maps.LatLng(36.768940, 127.279571),
          new naver.maps.LatLng(36.770934, 127.279925),
          new naver.maps.LatLng(36.770822, 127.284785),
          new naver.maps.LatLng(36.770480, 127.287293),
          new naver.maps.LatLng(36.768888, 127.284871),
          new naver.maps.LatLng(36.767822, 127.283498)
        ]
      });
      
      var polygon_back = new naver.maps.Polygon({
        map: map,
        paths: [
          [
            new naver.maps.LatLng(36.764343, 127.285022),
            new naver.maps.LatLng(36.765466, 127.284721),
            new naver.maps.LatLng(36.765498, 127.283418),
            new naver.maps.LatLng(36.766204, 127.284130),
            new naver.maps.LatLng(36.767149, 127.284430),
            new naver.maps.LatLng(36.765731, 127.287917),
            new naver.maps.LatLng(36.764223, 127.286782)
          ]
        ],
        fillColor: '#ff0000',
        fillOpacity: 0.3,
        strokeColor: '#ff0000',
        strokeOpacity: 0.6,
        strokeWeight: 3
      });
      
      var polyline_back = new naver.maps.Polyline({
        map: map,
        path: [
          new naver.maps.LatLng(36.764343, 127.285022),
          new naver.maps.LatLng(36.765466, 127.284721),
          new naver.maps.LatLng(36.765498, 127.283418),
          new naver.maps.LatLng(36.766204, 127.284130),
          new naver.maps.LatLng(36.767149, 127.284430),
          new naver.maps.LatLng(36.765731, 127.287917),
          new naver.maps.LatLng(36.764223, 127.286782)
        ]
      });
      
    </script>

  </body>
</html>