<table style="width:500px; margin-top:30px; margin-left:50px;">
  <thead>
    <tr>
      <th>URL</th>
      <th style="text-align:right;">Title</th>
      <th style="text-align:right;">post_time</th>
    </tr>
  </thead>
  <tbody>
    <% @notices.each do |product| %>
      <tr>
        <td><%= product.url %></td>
        <td style="text-align:right;"><%= product.title %></td>
        <td style="text-align:right;"><%= product.post_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @notices %>