/*상점 별 주기 위한 것*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#card{
    width: 350px;
    height : 170px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid darkorange;
    min-height: 50px;
    padding: 10px;
    margin: 20px;
}

#s_img{
    border: 1.5px solid black;
    width: 80px;
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
}

#store_title{
    font-size: 200%;
    font-weight: bold;
    margin-left: 110px;
    margin-top: -70px;
}

#review-star{
    margin-left: 110px;
    width: 100px;
    height: auto;
}

#store_content{
    margin-top: 7px;
    margin-left: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}

#mainbox{
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-wrap: wrap;
}

#mainbox_storeshow{
    /*font-family: calibri;
    box-sizing: border-box;*/
    justify-content: left;
    width: 700px;
    margin: auto;
}
#card_storeshow{
    width: auto;
    height : auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid darkorange;
    padding : 10px;
    margin-top :20px
}

#store_show_title{
    text-align: center;
}





#storecategory{
    margin-top: 5px;
    text-align: center;
}

.star-rating { width:205px;
                height: auto;}
.star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(http://postfiles15.naver.net/20160204_110/inyoung313_1454565091623XyBJm_PNG/star.png?type=w1)no-repeat; }
.star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }



/*각 상점 별*/
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

#custom-search-input{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
    justify-content: center;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
