
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ㅋㅌㅌ : 코리아텍을 위한 톡 커뮤니티</title>

    <!-- Bootstrap -->
    <link href="assets/stylesheet/css/bootstrap.css" rel="stylesheet">
	  <link href="assets/stylesheet/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/stylesheet/css/style.css" rel="stylesheet">
  </head>

  <body>

  <!--navbar code는 application.html.erb 파일의 body 부분으로 이동 ->계속 반복되는 부분이므로 -->

  	<div class="button" style="text-align:center; margin-top:60px; margin-bottom:20px; margin-left:auto; margin-right:auto; vertical-align:middle;">
      <button type="submit" onclick="location.href='/board/write_post_view'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">
        <span class="glyphicon glyphicon-pencil" style="font-size:12px;"></span> 글쓰기
      </button>
  	</div>
  	
      <div id="footer">
        <p class="copyright" style="text-align:center; text-weight:bold">&copy; NEMOLAND</p>
    	</div>
    </div>
  	
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
      
  </body>
</html>
