<!--메뉴 카테고리만 계속 반복해서 나와야 하므로 부분템플릿으로 출력 -->

<table id="list" style="text-align:center; margin-top:40px; margin-bottom:60px; margin-left:auto; margin-right:auto; vertical-align:middle;">
  <tr>
    <td style="border-collapse:collapse; height:100px; width:100px; background-color:#FFA500; border:3px solid white;">
      <a href="#" style="color:white">
        <div style="font-size:20px;">치킨</div>
        <!-- 게시판 페이지 만들 것 -->
      </a>
    </td>

    <td style="border-collapse:collapse; height:100px; width:100px; background-color:#FFA500; border:3px solid white;">
      <a href="#" style="color:white">
        <div style="font-size:20px;">도시락</div>
        <!-- 게시판 페이지 만들 것 -->
      </a>
    </td>

    <td style="border-collapse:collapse; height:100px; width:100px; background-color:#FFA500; border:3px solid white;">
      <a href="#" style="color:white">
        <div style="font-size:20px;">족발,보쌈</div>
        <!-- 게시판 페이지 만들 것 -->
      </a>
    </td>

  </tr>



</table>