<a href = "/store/store_index">
  <h1 style="text-align:center">코리아텍 주변상점</h1>
</a>
<%= render 'store/category'%>


<div id="mainbox">
  <% @store.each do |s|%>
    <div id="card">

        <a href="tel:<%=s.phone_number%>"> <!--전화번호 링크 -->
          <img id ="s_img" src="https://img.clipartfest.com/9d9890bfa24bdf687671514fdd14c0b5_phone-clip-art-images-free-mobile-phone-clip-art_1000-1000.png" alt="" />
        </a>
      <div id ="store_title"><%=s.name%></div>
      <div id ="store_content" class="btn btn-primary btn-md"><%=s.category%></div>
    </div>
  <%end%>

</div>



